@import '../variables';

.me-auto {
  margin-right: auto !important;
}
.ms-auto {
  margin-left: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}
.ms-0 {
  margin-left: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@each $name, $spacer in $spacers {
  .pe-#{$name} {
    padding-right: $spacer !important;
  }
  .ps-#{$name} {
    padding-left: $spacer !important;
  }
  .pt-#{$name} {
    padding-top: $spacer !important;
  }
  .pb-#{$name} {
    padding-bottom: $spacer !important;
  }
  .px-#{$name} {
    padding-right: $spacer !important;
    padding-left: $spacer !important;
  }
  .py-#{$name} {
    padding-top: $spacer !important;
    padding-bottom: $spacer !important;
  }

  .me-#{$name} {
    margin-right: $spacer !important;
  }
  .ms-#{$name} {
    margin-left: $spacer !important;
  }
  .mt-#{$name} {
    margin-top: $spacer !important;
  }
  .mb-#{$name} {
    margin-bottom: $spacer !important;
  }
  .mx-#{$name} {
    margin-right: $spacer !important;
    margin-left: $spacer !important;
  }
  .my-#{$name} {
    margin-top: $spacer !important;
    margin-bottom: $spacer !important;
  }
}
