.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*='col-'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
}

.col-4 {
  flex: 0 0 auto;
  width: 4/12 * 100%;
}

.col-6 {
  flex: 0 0 auto;
  width: 6/12 * 100%;
}

.offset-1 {
  margin-left: 1/12 * 100%;
}
